*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
     font-family: sans-serif;
     color:rgb(148, 148, 150);
}

html,body{
    height:100%;
    width: 100%;
}


nav{
    padding: 20px;
    background-image: url('images/banner.png');
   height:400px;   
}
.nav-main{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    
   
}
/* nav links li */
.nav-links ul{
    display: flex;
    gap:30px;
}
.nav-links ul li {
      list-style-type :none;
      padding-top: 10px;
   
}
.nav-links ul li a {
    font-size: 16px;
    line-height: 26px;
    font-family: "Noto Sans", sans-serif; 
    color:white;
    text-decoration: none;
}
.nav-links ul li a span{
    color:#ffb700;
} 
.nav-links ul li a:hover{
    color:#ffb700;
    cursor: pointer;
}

  /* nav logo img */
.nav-logo img{
    width:200px;
   
} 
.nav-logo img:hover{
    cursor: pointer;
}

/*  nav img+button */
.nav-links2 {
    display: flex;
    gap:30px;
}
.nav-links2  img{
   
    width:30px;
    object-fit: contain;
    color:white;
}
.nav-links2  img:hover{
    cursor: pointer;
}
.nav-links2 button{
  

    padding:14px 30px;
    font-weight: 600;
    background-color:#ffb700;
    color:rgb(13, 2, 2);
    border-radius : 2px ;
    border: 1px solid #ffb700;
    font-family: "Noto Sans", sans-serif;  

}
.nav-links2 button:hover{
      background-color: black;
      cursor: pointer;
    color:white;
}
nav h2,h3{
    text-align: center;

}

nav h2{
       
        transform: translateY(100px);
    margin-bottom: 10px;
    font-size: 36px;
    font-weight: 600;
    line-height: 50px;
    color:white;
    font-family: var(--font-family);
}
nav h3{
     transform: translateY(100px);
        font-size: 20px;
    line-height: 26px;
    color:rgb(148, 148, 150);
     font-family: var(--font-family);
}


/* page2 */


.page2-main{
    text-align: center;
    padding-top:60px;
   
   
}
.page2-main h2{
   
      font-family: var(--font-family);
     color:black;
          font-size: 46px;
    font-weight: 600;
    line-height: 60px;
}
.page2-main p{
   color:var(--color);
    font-family:  var(--font-family);
    font-weight: 400;
   padding:5px;
       font-size: 16px;
    line-height: 28px;
}

.box{
   
   padding-top:40px;
    display: flex;
    justify-content: center;
    gap:20px;
    

}

.box .box1{
    width:30%;
  
  background-color: beige;
  border:6px;
  height:300px;
}

.home-icon{
    
    text-align: center;
    padding-top:60px;
}
.box1 h3{
        text-align: center;
    margin-top: 20px;
  color:black;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
}

.box1 p{
        text-align: center;
       padding-top:15px;
       line-height: 2;
      
}


.page3 h1{
    padding-top: 80px;
    color:black;
        font-size: 46px;
    font-weight: 600;
    line-height: 60px;
    text-align: center;
}

.form-main{
  
   
    padding:30px;
}
.input{
    
   padding:60px;
   margin:0 auto;
   width:50%;
   border-radius: 5px;
   background-color: antiquewhite;
}

.input input{
    margin-bottom: 35px;     /*margin-bottom se space aata h  */
    width:100%;
    padding:20px;
    border-radius: 5px;
    border:2px solid antiquewhite;
}

.input label{
     font-family: var(--font-family);
    color:black;
    font-size:20px;
   
}

.input button{
 margin-top:10px;
        width:100%;
    padding:15px;
    background-color: #f9b500;
    color:#000;
    font-weight: bold;
    font-size: 1.1rem;
    border-radius: 6px;
    cursor: pointer;
    border: none;
}


/* page4 */


.page4-main{
    padding-top: 60px;
    display: flex;
    justify-content: center;
    width:100%;
  
    
}

.page4-main img{
    border:1px solid white;
   width:25%;
  

}






/* page5 */


.page5{
  
    background-color: black;
  
}
.page5-main{
   padding-top:80px;
   
    display: flex;
    justify-content: center;
    gap:30px;
  
}
.page5-link{
    width:300px;
    padding-bottom: 60px;
   
}
.page5-link p{
    
     font-size: 16px;
    line-height: 28px;
    color:#b0b5b9;
}
.home-icon1{
    display: flex;
    gap: 20px;
    padding-top:20px;


}
.home-icon1 div{
    color:#b0b5b9;
    font-weight: 500;
}


.page5-link .para{
   text-align: center;
       font-size: 24px;
    line-height: 30px;
    color:white;
}
.link li{
        font-size: 16px;
    font-weight: 400;
    line-height: 26px;
 
   padding-top:20px;
   list-style: none;
 
    
}
.link {
   display: flex;
   justify-content: center;
   
}
.link ul a{
      text-decoration: none; 
     color:#b0b5b9;

}

.page5-link .hours{
    
       font-size: 24px;
    line-height: 30px;
    color:white;
}
.days{
   padding:10px;
}
.satu{
    padding:10px;
}
.news-p p{
   padding-top:30px;
   
}
.textarea1{
    padding-top:20px;
  
}
.text1{
    padding-top:20px;
    
}
.text1 input {
padding:15px;
width:100%;
}


.page5-link .news{
    color:white;
    font-size:24px;
}

.icons img{
    width:40px;
    padding:10px;
}
.icons{
    padding-top:10px;
}


/* page6 */



.page6{
    display: flex;
   justify-content: center;
   padding-top:40px;
   height:100px;
   color:#b0b5b9;
}
.page6 .copyright{
    font-size: 16px;
    line-height: 26px;
    font-weight: bold;  
}

.page6 .design{
        font-size: 16px;
    line-height: 26px;
    font-weight: bold;

}
.page6 .powered{
        font-size: 16px;
    line-height: 26px;
    font-weight: bold;
}

.page6 .copyright:hover{
    cursor: pointer;
    color:black;
}
.page6 .design:hover{
    cursor: pointer;
    color:black;
}
.page6 .powered:hover{
    cursor: pointer;
    color:black;
}


@media only screen and (max-width:480px){
    .nav-main{
        display: none;
    }
    .page2-main h2{
        font-size:20px;
        padding:0;
    }
    .box{
        display: flex;
        flex-direction: column;
        width:100%;
      

    }
    .box .box1{
        width:100%;
   
      

    }
   
    .page4-main{
        display: flex;
        flex-direction: column;

    }
    .page4-main img{
width:100%;
    }
      .page5-main{
        display: flex;
        flex-direction: column;
    }
    .page5-link .link{
        display: flex;
        justify-content: flex-start;
    }
    .page5-link .para{
        text-align: left;
    }
    .input{
        width:100%; 
    }
   .page5-link p{
   display: flex;
   justify-content: left;
}
.link{
  
    display: flex;
    justify-content: left;
}
.page6{
    display: flex;
    flex-direction: column;
    align-items: center;
}

}

