*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
     font-family: sans-serif;
     color:rgb(148, 148, 150);
}

html,body{
    height:100%;
    width: 100%;
}


nav{
    padding: 20px;
    background-image: url('images/banner.png');
   height:400px;   
}
.nav-main{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    
   
}
/* nav links li */
.nav-links ul{
    display: flex;
    gap:30px;
}
.nav-links ul li {
      list-style-type :none;
      padding-top: 10px;
   
}
.nav-links ul li a {
    font-size: 16px;
    line-height: 26px;
    font-family: "Noto Sans", sans-serif; 
    color:white;
    text-decoration: none;
}
.nav-links ul li a span{
    color:#ffb700;
} 
.nav-links ul li a:hover{
    color:#ffb700;
    cursor: pointer;
}

  /* nav logo img */
.nav-logo img{
    width:200px;
   
} 
.nav-logo img:hover{
    cursor: pointer;
}

/*  nav img+button */
.nav-links2 {
    display: flex;
    gap:30px;
}
.nav-links2  img{
   
    width:30px;
    object-fit: contain;
    color:white;
}
.nav-links2  img:hover{
    cursor: pointer;
}
.nav-links2 button{
  

    padding:14px 30px;
    font-weight: 600;
    background-color:#ffb700;
    color:rgb(13, 2, 2);
    border-radius : 2px ;
    border: 1px solid #ffb700;
    font-family: "Noto Sans", sans-serif;  

}
.nav-links2 button:hover{
      background-color: black;
      cursor: pointer;
    color:white;
}
nav h2,h3{
    text-align: center;

}

nav h2{
       
        transform: translateY(100px);
    margin-bottom: 10px;
    font-size: 36px;
    font-weight: 600;
    line-height: 50px;
    color:white;
    font-family: var(--font-family);
}
nav h3{
     transform: translateY(100px);
        font-size: 20px;
    line-height: 26px;
    color:rgb(148, 148, 150);
     font-family: var(--font-family);
}



/* page1 */

.page1{
    margin-top:60px;
     width:100%;
   
}

.page1-main{
    display: flex;
  justify-content: center;
  gap:10px;
    width:100%;
    height:100%;
   

}

.page1-img{
    width: 70%;
  
    height:100%;

}
.category{
 
    height:100%;
    width:30%;
    /* background-color:aqua; */
}
.search{
    padding: 30px 68px;
}
.search form{
    display: flex;
    justify-content: space-between;
    align-items: center;
     border: 1px solid #ffe9b0;
     padding: 7px 20px;
}   
.search form:focus{
    border: 1px solid blue;
}
.search form input{
    flex : 1;
     padding: 10px 0px;
     border: none;
     outline: none;
     font-size: 18px;
}
.search form i{
    font-size: 20px;
    color: black;
    cursor: pointer;
}


.categories {
    background-color: #fff8e6;
    width: 70%;
    margin: 00px auto;
    padding: 40px 10px;
    border: 1px solid #ffe9b0;
   
}
.categories h2{
    color:black;
        font-size: 30px;
    line-height: 42px;
  padding:30px;
}

.sub-category{
   display: flex;
   flex-direction: column;
     padding-left:25px;
     gap:5px;
}
.sub-category a{
    text-decoration: none;
        font-size: 16px;
    font-weight: 500;
    line-height: 36px;

    
}




  .selling-items{
    display: flex;
    justify-content: center;
	flex-wrap:wrap;
    gap:20px;
   
	padding:40px 0px;
    
  }
  .selling-item-main{
	  width:26%;
  }
  .selling-item-main h3{
    color:black;
    text-align: left;
  }

  .selling-item-main h4{
    color:black;
  }

  .selling-item-main p{
    color:#ffb700;
  }
  .selling-item-main  div{
    border: 1px solid #ddd;
    padding: 8px;

  }

  .selling-items div h3{
    margin-top: 20px;
  }
 
  .selling-items img{
   
    width:100%;
    height: 100%;
    object-fit: contain;
    background-color: rgb(238, 233, 233);
    aspect-ratio: 1/1.2;
   padding: 40px 20px;
  }
   .selling-items img:hover{
	   background-color:#fff8e6;	
   }




   .page11-main{
    width:100%;
    display: flex;
    margin-top: 200px;
    
}

.page11-main img{
    border:1px solid white;
   width:25%;
  

}


/* page12 */

.page12{
  
    background-color: black;
  
}
.page12-main{
   padding-top:80px;
   
    display: flex;
    justify-content: center;
    gap:30px;
  
}
.page12-link{
    width:300px;
    padding-bottom: 60px;
   
}
.page12-link p{
    
     font-size: 16px;
    line-height: 28px;
    color:#b0b5b9;
}
.home-icon{
    display: flex;
    gap: 20px;
    padding-top:20px;


}
.home-icon div{
    color:#b0b5b9;
    font-weight: 500;
}


.page12-link .para{
   text-align: center;
       font-size: 24px;
    line-height: 30px;
    color:white;
}
.link li{
        font-size: 16px;
    font-weight: 400;
    line-height: 26px;
  list-style: none;
   padding-top:20px;
 
    
}
.link {
   display: flex;
   justify-content: center;
   
}
.link ul a{
      text-decoration: none; 
     color:#b0b5b9;

}

.page12-link .hours{
    
       font-size: 24px;
    line-height: 30px;
    color:white;
}
.days{
   padding:10px;
}
.satu{
    padding:10px;
}
.news-p p{
   padding-top:30px;
   
}
.textarea1{
    padding-top:20px;
  
}
.text1{
    padding-top:20px;
    
}
.text1 input {
padding:15px;
width:100%;
}


.page12-link .news{
    color:white;
    font-size:24px;
}

.icons img{
    width:40px;
    padding:10px;
}
.icons{
    padding-top:10px;
}

/* page13 */

.page13{
    display: flex;
   justify-content: center;
   padding-top:40px;
   height:100px;
   color:#b0b5b9;
}
.page13 .copyright{
    font-size: 16px;
    line-height: 26px;
    font-weight: bold;  
}

.page13 .design{
        font-size: 16px;
    line-height: 26px;
    font-weight: bold;

}
.page13 .powered{
        font-size: 16px;
    line-height: 26px;
    font-weight: bold;
}

.page13 .copyright:hover{
    cursor: pointer;
    color:black;
}
.page13 .design:hover{
    cursor: pointer;
    color:black;
}
.page13 .powered:hover{
    cursor: pointer;
    color:black;
}

@media only screen and (max-width:480px){
    .nav-main{
        display: none;
    }
    .page1-main{
        margin:0%;
        display: flex;
        flex-direction: column;
       
    }
 .selling-items{

    display: flex;
    flex-direction: column;
           width: 140%;

   
 }
 .selling-item-main{
    
    width: 100%;
   
 }


 .category{
   
    width:100%;
  
 }

 .page11-main{
   margin-top:0%;
    display: flex;
    flex-direction: column;

 }
 .page11-main img{
    width:100%;
 }
 .page12-main {
    display: flex;
    flex-direction: column;
 }
 .page12-link .link{
    display: flex;
   justify-content: left;
 }
 .page12-link .para{
    align-items: left;
 }
 .page13{
    display: flex;
    flex-direction: column;
    align-items: center;
 }

}




